accelerate==0.21.0
bitsandbytes==0.41.0
einops==0.6.1
environs==9.3.2
Flask==2.3.2
huggingface-hub==0.16.4
langchain==0.0.247
numpy==1.25.1
requests==2.26.0
scipy==1.11.1
tokenizers==0.13.3
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
transformers==4.31.0
