/* styles.css */
body {
  background-color: #292838;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 85%;
  text-align: start;
  margin: 10px;
  padding: 10px;
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
  background-color: #1f1f1f;
  color: #ffffff;
}

.form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #6143b3, #9eecbd);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.form button:hover {
  background: linear-gradient(45deg, #760a85, #10daf1);
}

.form a {
  color: #9eecbd;
  text-decoration: none;
}

